@import 'tailwindcss';
@import '@rc-component/table/assets/index.css';
@import 'toastify-js/src/toastify.css';

.rc-input-number-input {
  border: 1px solid black;
  width: 100%;
}

button {
  cursor: pointer;
}
